<template name="manageIndicator">
	<div class="template-manageIndicator">
		<div class="container">
			<div class="row">
				<button type="button" class="toast">TOAST</button>
				<button class="cat" name="cat">importe categories</button>
                <button class="functionClassement">importe functions</button>
				<h2>Importer un indice:</h2>
				<p>
					Comment savoir quel lien mettre ?<br />
					Par exemple quand vous consultez l'indice: <a href="http://donnees.banquemondiale.org/indicateur/SE.ENR.PRSC.FM.ZS">http://donnees.banquemondiale.org/indicateur/SE.ENR.PRSC.FM.ZS</a>
					vous repérez qu'il y'a une sorte d'ID: <strong>SE.ENR.PRSC.FM.ZS</strong>. Vous copiez cet élément
					et paf vous le collez. Plus qu'à faire <strong>OK</strong><br>
					Si plusieurs juste sauter une ligne entre chaque..
				</p>
				<form class="add-indicator">
					<textarea  rows="11" cols="80" type="text" name="text">SE.XPD.TOTL.GB.ZS
SP.POP.TOTL
SE.XPD.TOTL.GD.ZS
SE.TER.ENRR
SE.PRE.ENRR
SE.PRM.ENRR
SE.PRM.NENR
SE.SEC.ENRR
SE.SEC.NENR
SE.PRM.ENRL.TC.ZS
SE.PRM.CMPT.ZS
SE.ADT.1524.LT.FE.ZS
SE.ADT.1524.LT.MA.ZS
SE.ADT.1524.LT.ZS
SE.SEC.PROG.FE.ZS
SE.ADT.LITR.ZS
SE.ENR.PRSC.FM.ZS
SL.UEM.LTRM.FE.ZS</textarea>
					<br />
					<button name="OK">OK</button>
				</form>
				<br />
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<th>Indicator</th>
						<th>Code</th>
						<th>Catégorie</th>
                        <th>FonctionClassement</th>
						<th>Supprimer</th>
					</thead>
					<tbody>
						{{#each indicators }}
						{{> indicator}}
						{{/each}}
					</tbody>
				</table>
				<br>
			</div>
		</div>


	</div>
</template>
<template name="indicator">
	<tr>
		<td>{{name}}</td>
		<td>{{code}}</td>
		<td>
			<select class="select-category" id="category-for-{{ _id }}">
				{{#if equals id_category undefined}}
				<option value="" selected="selected">
				</option>
				{{/if}}
				{{#each categories}}
				{{> category}}
				{{/each}}
			</select>
		</td>
        <td>
            <select class="select-function" id="functionClassement-for-{{_id}}">
				{{#if equals id_functionClassement undefined}}
                    <option value="" selected="selected">
                    </option>
                {{/if}}
            </select>
        </td>
		<td>
            <button class="delete">&times;</button>
		</td>
	</tr>
</template>
<template name="category">
	<option value="{{_id}}"
		selected="{{#if equals _id ../id_category}}selected{{/if}}">
	{{name}}
	</option>
</template>
<template name="functionClassement">
    <option value="{{_id}}"
            selected"{{#if equals _id ../id_functionClassement}}selected{{/if}}">
    </option>
</template>
