<template name="home">

    {{> leftColumn}}

    <div id="container-middle" class="col-lg-10 col-md-10">
        <div id="container-header-economie" class="container-header">
            <i class="fa fa-globe"></i>
            <span>Économie(s) séléctionnée(s): </span>
            {{#each countriesSelected}}
            {{> countrySelected}}
            {{/each}}
        </div>
        <div id="container-header-indicator" class="container-header">
            <i class="fa fa-line-chart"></i>
            <span>Indice(s) séléctionné(s): </span>
            {{#each indicatorsSelected}}
            {{> indicatorSelected}}
            {{/each}}
        </div>


        {{> showIndicator }}
        <a style="margin-left:20px;" href="/manageIndicator">Import des indices </a>
        <a style="margin-left:20px;" href="/manageCountries">Import des pays</a>
    </div>
</template>


<template name="homeCountry">
    <li>
        <input type="checkbox" class="checkCountry">{{ name_fr }} <img src="/images/flags/16/{{name_en}}.png" alt="{{name_fr}}" />
    </li>
</template>
<template name="countrySelected">
    <span class="selection"><img src="/images/flags/16/{{name_en}}.png"
        onerror="this.style.display='none'"
        alt="{{name_fr}}" /> {{ name_fr }} <span class="removeCountrySelected">&times;</span>
    </span>
</template>
<template name="indicatorSelected">
    <span class="selection">{{ name }} <span class="checkIndicator">&times;</span></span>
</template>
