<template name="home">

    {{> leftColumn}}

    <div id="container-middle" class="col-lg-10 col-md-10">
        <!--
        <div id="container-header-date" class="container-header">
            <i class="fa fa-calendar"></i>
            <span>Date de début: </span><input type="number" min="1960" max="2016" class="year-picker" value="1960"/>
            <span>Date de fin: </span><input type="number" min="1960" max="2016" class="year-picker" value="2016"/>
        </div>
    -->
        <div id="container-header-economie" class="container-header">
            <i class="fa fa-globe"></i>
            <span>Économie(s) séléctionnée(s): </span>
            {{#each countriesSelected}}
            {{> countrySelected}}
            {{/each}}
        </div>
        <div id="container-header-indicator" class="container-header">
            <i class="fa fa-line-chart"></i>
            <span>Indice(s) séléctionné(s): </span>
            {{#each indicatorsSelected}}
            {{> indicatorSelected}}
            {{/each}}
        </div>

        <a style="margin-left:20px;" href="/manageIndicator">Gestion des indices</a>
        <br>
        <a style="margin-left:20px;" href="/manageCountries">Gestion des pays</a>

        {{> showIndicator }}
    </div>
    <!--
    <div id="container-right" class="container-column col-lg-2 col-md-2">

    <div>
    <ul>
    {{#each countries}}
    {{> homeCountry }}
    {{/each}}
</ul>
</div>
</div>
-->
</template>


<template name="homeCountry">
    <li>
        <input type="checkbox" class="checkCountry">{{name_fr}} <img src="/images/flags/16/{{name_en}}.png" alt="{{name_fr}}" />
    </li>
</template>
<template name="countrySelected">
    <span class="selection"><img src="/images/flags/16/{{name_en}}.png"
        onerror="this.style.display='none'"
        alt="{{name_fr}}" /> {{ name_fr }} <span class="removeCountrySelected">&times;</span>
    </span>
</template>
<template name="indicatorSelected">
    <span class="selection">{{ name }} <span class="checkIndicator">&times;</span></span>
</template>
