<template name="importCsv">
	<form class="create">
		<input type="text" name="text" placeholder="Type to add new tasks" />
		<button name="OK">OK</button>
	</form>
	<div class="template-importCsv">
        <div class="container">
            <div class="row">
                <p>
                    <button type="button" class="btn btn-default btn-file">
                        Import CSV <input type="file" class="myFileInput" name="myFileInput" value="" />
                    </button>
                </p>
                <br />
				<p>
					{{json}}
				</p>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
						<th>id</th>
                        <th>Country</th>
                        <th>Country Code</th>
                    </thead>
                    <tbody>
                        {{#each countries}}
                        	{{> country}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</template>
<template name="country">
    <tr>
		<td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{code}}</td>
    </tr>
</template>
