<template name="importCsv">
	<div class="template-importCsv">
        <div class="container">
            <div class="row">
                <p>
                    <button type="button" class="btn btn-default btn-file">
                        Import CSV <input type="file" class="myFileInput" name="myFileInput" value="" />
                    </button>
                </p>
                <br />
                <table class="table table-bordered table-hover table-striped">
                    <thead>
						<th>Drapeau</th>
                        <th>Nom</th>
                        <th>Code</th>
                        <th>Région</th>
                    </thead>
                    <tbody>
                        {{#each countries}}
                        	{{> importCountry}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</template>
<template name="importCountry">
    <tr>
		<td><img src="/images/flags/16/{{name_en}}.png" /></td>
        <td>{{name_fr}}</td>
        <td>{{code}}</td>
        <td>{{region_fr}}</td>
    </tr>
</template>
