h3{
    color: @brand-primary;
    font-family: 'Vrinda';
    margin-left: 20px;
}
h4{
    color: @brand-primary;
    font-family: 'Vrinda';
}
hr{
    color: rgb(60, 60, 60);
    border-top-width: 2px;
}
.twitter-typeahead{
}
.search{
    //border-top: 4px solid @brand-primary;
    //border-bottom: 2px solid @brand-primary;
    margin-left: 16px;
    margin-bottom: 20px;
}
.selected{
    color: #1d8bf5;
    text-decoration: underline;
}
ul{
    list-style-type: none;
}
.panel-body{
    margin-top: 2px;
}
li:hover{
    //text-decoration: underline;
    cursor: pointer;
    color: @brand-primary;
}
li:checked{
    color: @brand-primary;
}
.search input{
}
.search label{
    color: rgb(57, 57, 57);
    font-size: 14px;
}
.search .fa{
    color: @brand-primary;
}
.search-submit{
    //border-left:2px solid @brand-primary;
    //width: 20%;
    cursor: pointer;
}
.search-submit:hover{
    background-image: linear-gradient(#eee, #ddd);
}
.search-input{
    border:none;
    box-shadow:0px 0px 5px rgb(126, 126, 126) inset;
    //width: 80%;
    float:left;
    height:43px;
    padding-left: 7px;
    margin-right: 5px;
    color: rgb(166, 166, 166);
    //font-size: 20px;
}
#similar-countries{
    margin-left: 12px;
}
#similar-countries h4{
    text-transform: none;
    color: rgb(26, 26, 26);
    font-family: Arial;
}
#header-icon{
    background-image: url('/images/header-icon.png');
    background-repeat: no-repeat;
    width: 136px;
    height: 65px;
    float:left
}
#container{
    padding-left: 0px;
    padding-right: 0px;
    height: 100vh;
}
.container-column{
    padding-top: 7px;
    height: 100%;
}
#container-left{
    z-index: 333;
    border-right: 3px @brand-border solid;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    -moz-box-shadow: 2px 0px 7px 0px #c0c0c0;
    -webkit-box-shadow: 2px 0px 7px 0px #c0c0c0;
    -o-box-shadow: 2px 0px 7px 0px #c0c0c0;
    box-shadow: 2px 0px 7px 0px #c0c0c0;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=90, Strength=7);
}
#container-right{
    z-index: 333;
    border-left: 3px @brand-border solid;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-shadow: -2px 0px 7px 0px #c0c0c0;
    -webkit-box-shadow: -2px 0px 7px 0px #c0c0c0;
    -o-box-shadow: -2px 0px 7px 0px #c0c0c0;
    box-shadow: -2px 0px 7px 0px #c0c0c0;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=180, Strength=7);

}
.selection{
    background-color: rgb(205, 205, 205);
    border: 1px solid @brand-border;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 5px;
}
.removeCountrySelected{
    cursor: pointer;
}
#container-middle{
    z-index: 222;
    padding: 0px;
}
.container-header{
    background-color: #fafafa;
    width: 100%;
    min-height: 35px;
    height: auto;
    border-bottom: @brand-border solid 1px;
    padding-left: 10px;
    padding-top: 6px;
}
.year-picker{
    height: 75%;
    width: 120px;
    color: @input-color;
    background-color: @input-bg;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid @input-border;
    border-radius: @input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
    padding-left: 5px;

}
#categories-list{
    margin-left:10px;
    margin-right:10px;
    margin-top: 12px;
}
#categories-list h4{
    margin-top: 0px;
    color: rgb(38, 38, 38);
    font-size: 16px;
    font-family: 'Arial';
    font-weight: 250;
    text-transform:none;
}
.panel-body{
    padding:5px;
}
.panel{
    border: none;
}
.panel-default > .panel-heading{
    background-color: #ffffff;
}
.checkIndicator{
    cursor: pointer;
}
