<template name="importIndicator">
	<div class="template-importIndicator">
		<div class="container">
			<div class="row">
				<form class="add-indicator">
					<textarea  rows="11" cols="80" type="text" name="text">http://api.worldbank.org/fr/countries/indicators/SE.ADT.LITR.ZS</textarea>
					<br />
					<button name="OK">OK</button>
				</form>
				<br />
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<th>Indicator</th>
						<th>Code</th>
						<th>Country</th>

					</thead>
					<tbody>
						{{#each indicators }}
						{{> indicator}}
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>


	</div>
</template>
<template name="indicator">
	<tr>
		<td>{{name}}</td>
		<td>{{code}}</td>
		<td>
			{{countries}}
		</td>
	</tr>
</template>
<template name="country">
	<tr>
		<td>{{name}}</td>
		<td>{{code}}</td>
	</tr>
</template>
