<template name="manageCountries">
	<div class="template-manageCountries">
        <div class="container">
            <div class="row">
                <p>
					Scan depuis:<br>
					<a href="http://api.worldbank.org/fr/country?per_page=300&format=json">http://api.worldbank.org/fr/country?per_page=300&format=json</a><br>
					<a href="http://api.worldbank.org/fr/country?per_page=300&format=json">http://api.worldbank.org/fr/country?per_page=300&format=json</a><br>
                    <button type="button" class="import btn btn-default btn-file">Importer</button>
                </p>
                <br />
                <table class="table table-bordered table-hover table-striped">
                    <thead>
						<th>Drapeau</th>
                        <th>NomFR</th>
                        <th>NomEN</th>
						<th>id</th>
                        <th>Code</th>
                        <th>Région</th>
                    </thead>
                    <tbody>
                        {{#each countries}}
                        	{{> importCountry}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</template>
<template name="importCountry">
    <tr>
		<td><img src="/images/flags/16/{{name_en}}.png" onerror="this.style.display='none'"/></td>
        <td>{{name_fr}}</td>
        <td>{{name_en}}</td>
        <td>{{id}}</td>
        <td>{{code}}</td>
        <td>{{region_name_fr}}</td>
    </tr>
</template>
